<ion-header >
  <ion-toolbar color="azul">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>

    <ion-item lines="full"  routerLink="/cruella">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rRYNGhcAZlTfIUS7iFoF4H9iDbc.jpg">
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
        <p class="nome">Cruella</p>
        <p>28/05/2021</p>
        <ion-badge color="light">Comédia</ion-badge>
        <ion-badge color="light">Crime</ion-badge>
      </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>84%</ion-label>
      </ion-chip>
    </ion-item>

    <ion-item lines="full" routerLink="/ordem-da-fenix">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/3clnDG5uOtSKr3G8QHUGtQsDTpr.jpg">
      </ion-thumbnail>
      <ion-label>
        <div class="item-lanche ion-text-wrap">
       <p class="nome">Harry Potter Ordem da Fenix
      </p>
       <p>11/07/2007</p>
       <ion-badge color="light">Aventura</ion-badge>
       <ion-badge color="light">Fantasia</ion-badge>
       <ion-badge color="light">Misterio</ion-badge>

      </div>
    </ion-label>
    <ion-chip color="success" outline>
      <ion-label>77%</ion-label>
    </ion-chip>
    </ion-item>


  <ion-item lines="full" routerLink="/miraculous">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/d4ZOtAMq8baOteXeSYkVI7U9ntD.jpg">
    </ion-thumbnail>
    <ion-label>
      <div class="item-lanche ion-text-wrap">
      <p class="nome">Miraculous World: Nova Iorque, Heróis Unidos</p>
      <p>18/12/2020</p>
      <ion-badge color="light">Animação</ion-badge>
      <ion-badge color="light">Aventura</ion-badge>
    </div>
    </ion-label>
    <ion-chip color="success" outline>
      <ion-label>83%</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full"  routerLink="/the-half-of-it">
    <ion-thumbnail slot="start">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/jC1PNXGET1ZZQyrJvdFhPfXdPP1.jpg">
    </ion-thumbnail>
    <ion-label>
      <div class="item-lanche ion-text-wrap">
      <p class="nome">The half of it</p>
      <p>01/05/2020</p>
      <ion-badge color="light">Romance</ion-badge>
      <ion-badge color="light">Comédia</ion-badge>
    </div>
    </ion-label>
    <ion-chip color="success" outline>
      <ion-label>72%</ion-label>
    </ion-chip>
  </ion-item>

  <ion-item lines="full"  routerLink="/raya">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yXrb84zJidCefyhTWHwo4yCDvwz.jpg">
      </ion-thumbnail>
      <ion-label>
        <div class="item-lanche ion-text-wrap">
        <p class="nome">Raya e o Ultimo Dragão</p>
        <p>04/03/2021</p>
        <ion-badge color="light">Fantasia</ion-badge>
        <ion-badge color="light">Animação</ion-badge>
        <ion-badge color="light">Ação</ion-badge>
      </div>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>81%</ion-label>
      </ion-chip>
    </ion-item>


  </ion-list>

</ion-content>
