<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Miraculous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/d4ZOtAMq8baOteXeSYkVI7U9ntD.jpg" alt="">
    </ion-card-header>

    <ion-card-content>
     <div>
      <h1>Miraculous Word
      <ion-chip outline>
        <ion-label >83%</ion-label>
      </ion-chip>
    </h1>
    <p>18/12/2020</p>
     </div>
     <ion-badge color="light">Animação</ion-badge>
     <ion-badge color="light">Aventura</ion-badge>

    </ion-card-content>
  </ion-card>

</ion-content>
