<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cruella</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rRYNGhcAZlTfIUS7iFoF4H9iDbc.jpg" alt="">
    </ion-card-header>

    <ion-card-content>
     <div>
      <h1>Cruella
      <ion-chip outline>
        <ion-label >84%</ion-label>
      </ion-chip>
    </h1>
    <p>28/05/2021</p>
     </div>
     <ion-badge color="light">Comédia</ion-badge>
     <ion-badge color="light">Crime</ion-badge>
    </ion-card-content>
  </ion-card>


</ion-content>
