<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Raya e o Ultimo Dragão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
     <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/yXrb84zJidCefyhTWHwo4yCDvwz.jpg" alt="">
    </ion-card-header>

    <ion-card-content>
     <div>
      <h1>Raya
      <ion-chip outline>
        <ion-label >81%</ion-label>
      </ion-chip>
    </h1>
    <p>e o Ultimo Dragão</p>
    <p>01/03/2021</p>
     </div>
     <ion-badge color="light">Fantasia</ion-badge>
     <ion-badge color="light">Animação</ion-badge>
     <ion-badge color="light">Ação</ion-badge>
    </ion-card-content>
  </ion-card>

</ion-content>
